<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://picsum.photos/id/1/1000/1000" alt="slide 1">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://picsum.photos/id/20/1000/1000" alt="slide 2">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://picsum.photos/id/31/1000/1000" alt="slide 3">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://picsum.photos/id/42/1000/1000" alt="slide 4">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://picsum.photos/id/55/1000/1000" alt="slide 5">
        </div>
    </ng-template>
</owl-carousel-o>
<style>
    .owl-theme {
    background: red!important;
}
</style>